$color-text: #6a6e71;
$white: #fff;
$gray: #d0d8df;
$dark-gray: #d8e0e5;
$light-gray: #ecf0f3;
$dark: #050c42;
$pink-color: #f0556f;
$gray-blue: #aad0f3;
$orange: #ec805b;
$light-green: #6cdc9d;
$header-shadow: 0px 2.03125px 5.07813px rgba(0, 0, 0, 0.05);
$tab-shadow: 0px 2.05848px 5.13196px rgba(0, 0, 0, 0.05);
$union-card-shadow: 0px 2.88868px 6.49953px rgba(0, 0, 0, 0.1);
