@import '../../../assets/colors';

.union {
  &__item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;

    @media (min-width: 1440px) {
      padding: 8px;
    }

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }

  &__label {
    input {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }
    &:hover {
      cursor: pointer;
    }

    & > span {
      display: inline-flex;
      align-items: center;
      user-select: none;
    }

    & > span::before {
      background-color: $white;
      content: '';
      display: inline-block;
      width: 13px;
      height: 13px;
      flex-shrink: 0;
      flex-grow: 0;
      border: 1px solid $gray;
      margin-right: 0.5em;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;

      @media (min-width: 1440px) {
        width: 16px;
        height: 16px;
      }
      @media (min-width: 1920px) {
        width: 20px;
        height: 20px;
      }
    }

    & > input:not(:disabled):not(:checked) + span:hover::before {
      border-color: #b3d7ff;
    }

    & > input:not(:disabled):active + span::before {
      background-color: $gray;
      border-color: $gray;
    }

    & > input:focus + span::before {
      box-shadow: 0 0 0 0.2rem $gray;
    }

    & > input:focus:not(:checked) + span::before {
      border-color: $gray;
    }

    & > input:checked + span::before {
      border-color: $light-gray;
      background-image: url("data:image/svg+xml,%3Csvg width='5' height='5' viewBox='0 0 5 5' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='2.25' cy='2.25024' r='2.25' /%3E%3C/svg%3E%0A");
    }

    & > input:disabled + span::before {
      background-color: $dark;
    }
  }

  &__title {
    font-size: 11.1822px;
    line-height: 11px;
    color: $color-text;

    @media (min-width: 1280px) {
      font-size: 13.1902px;
      line-height: 13px;
    }
    @media (min-width: 1440px) {
      font-size: 14.4327px;
      line-height: 14px;
    }
    @media (min-width: 1920px) {
      font-size: 16px;
      line-height: 16px;
    }
  }

  &__number {
    &-team {
      font-size: 11.1822px;
      line-height: 11px;
      color: $color-text;

      @media (min-width: 1280px) {
        font-size: 13.1902px;
        line-height: 13px;
      }
      @media (min-width: 1440px) {
        font-size: 14.4327px;
        line-height: 14px;
      }
      @media (min-width: 1920px) {
        font-size: 16px;
        line-height: 16px;
      }
    }
  }
}
